{{ define "main" }}
<article itemscope itemtype="http://schema.org/Article">
  <header>
    <h2 itemprop="name">{{ .Title }}</h2>
    <span><time datetime="{{ .Date.Format " 02-01-2006" }}">{{ .Date.Format "02-01-2006" }}</time></span>
    <span>&ndash; {{ .WordCount }} palabras</span>
    {{ if gt .ReadingTime 1 }}
    {{ .Scratch.Set "timeUnit" "minutos" }}
    {{ else }}
    {{ .Scratch.Set "timeUnit" "minuto" }}
    {{ end }}
    <span>&ndash; {{ .ReadingTime }} {{ .Scratch.Get "timeUnit" }}</span>
  </header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    <div>
      {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">&larr; Anterior</a>
      {{ end }}
    </div>
    <div>
      {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">Siguiente &rarr;</a>
      {{ end }}
    </div>
  </footer>
</article>
{{ end }}